.phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px; }
  .phone i {
    margin-right: 15px;
    color: #cc7722; }

.top-nav {
  margin-top: 12px; }

.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .topbar img {
    padding-top: 12px; }

.topbar-phone {
  display: flex;
  align-items: center; }
  .topbar-phone i {
    margin-right: 15px; }

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: black !important; }
  .nav-link .active {
    color: #cc7722 !important; }

.header {
  background: url("../img/header.png");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover; }

.header-text {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 100px; }
  .header-text h3 {
    font-size: 50px;
    font-weight: 300; }
  .header-text h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px; }

.learn-more-btn {
  width: 15%;
  background: #cc7722;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 0px 10px 0px; }

.fa-ellipsis-v {
  color: black; }

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidebar a:hover {
  color: #f1f1f1; }

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none; }

.openbtn:hover {
  background-color: grey; }

#main {
  transition: margin-left 0.5s;
  padding: 16px; }

.main-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px; }

.navlink {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px; }
  .sidebar a {
    font-size: 18px; } }

@media (min-width: 0px) {
  .tour-btn {
    display: none; }
  .dropdown {
    display: block; }
  .topbar-phone {
    display: none; }
  .main-menu {
    display: none; }
  .menu {
    display: flex; }
  .learn-more-btn {
    width: 100%;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 0px 10px 0px; } }

@media (min-width: 576px) {
  .tour-btn {
    display: none; }
  .dropdown {
    display: block; }
  .topbar-phone {
    display: none; }
  .main-menu {
    display: none; }
  .menu {
    display: flex; }
  .learn-more-btn {
    width: 70%;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 0px 10px 0px; } }

@media (min-width: 768px) {
  .tour-btn {
    display: none; }
  .dropdown {
    display: block; }
  .topbar-phone {
    display: none; }
  .main-menu {
    display: none; }
  .menu {
    display: flex !important; }
  .learn-more-btn {
    width: 40%;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 0px 10px 0px; } }

@media (min-width: 992px) {
  .tour-btn {
    display: block; }
  .dropdown {
    display: none; }
  .topbar-phone {
    display: inline-flex; }
  .main {
    display: flex; }
  .menu {
    display: none !important; }
  .learn-more-btn {
    width: 25%;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 0px 10px 0px; } }

@media (min-width: 1200px) {
  .tour-btn {
    display: block; }
  .dropdown {
    display: none; }
  .main-menu {
    display: flex; }
  .menu {
    display: none !important; }
  .learn-more-btn {
    width: 15%;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 0px 10px 0px; } }

.outline-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  background: white;
  border: 2px solid grey;
  padding: 10px 25px 10px 25px; }

.fas {
  color: #cc7722; }

.card-text-threecols span {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  font-weight: 600; }

.card-text-threecols p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

@media (min-width: 576px) {
  .tour-btn {
    display: none; }
  .testimonial-card {
    margin-top: 30px !important; } }

@media (min-width: 768px) {
  .tour-btn {
    display: none; }
  .testimonial-card {
    margin-top: 30px !important; } }

@media (min-width: 992px) {
  .tour-btn {
    display: block; }
  .testimonial-card {
    margin-top: 5px !important; } }

@media (min-width: 1200px) {
  .tour-btn {
    display: block; }
  .testimonial-card {
    margin-top: 5px !important; } }

.tours h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 45px; }

.tours p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px; }

.tours img {
  margin-bottom: 10px; }

.tours .price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #cc7722;
  font-size: 22px; }

.tours .city {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px; }

.tour-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
  background: white;
  border: 2px solid grey;
  width: 18%;
  padding-top: 14px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 20px; }

.tour-breaker {
  background: url("../img/banner-water.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .tour-breaker p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    padding: 0;
    margin: 0; }
  .tour-breaker span {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding: 0;
    margin: 0; }
  .tour-breaker button {
    padding: 0;
    margin: 0;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none; }

.tour-breaker {
  margin-top: 30px !important; }

.booknow-btn {
  margin-left: 20px !important;
  padding: 10px 30px 10px 30px !important; }

.testimonial-card h3 {
  margin-top: 10px !important; }

.testimonial-card p {
  margin-top: 5px !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.sale-banner {
  background: url("../img/person-holding-flashlight-in-road-2011367.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  color: white; }
  .sale-banner .booknow-btn2 {
    padding: 10px 30px 10px 30px !important;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none; }
  .sale-banner p {
    font-weight: 200;
    font-size: 40px;
    padding: 0;
    margin: 0; }
  .sale-banner h4 {
    font-weight: 500;
    font-size: 45px; }
  .sale-banner span {
    font-weight: 200;
    font-size: 25px; }

.blog-title {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 25px; }

.blog-post {
  font-family: 'Montserrat', sans-serif; }
  .blog-post h3 {
    color: #cc7722;
    font-size: 25px;
    width: 100%;
    line-height: 55px; }
  .blog-post .blog-info-category {
    color: #cc7722; }
  .blog-post p {
    font-size: 14px;
    margin-top: 12px; }

@media (min-width: 0px) {
  .blog-post h3 {
    color: #cc7722;
    font-size: 25px;
    width: 100%;
    line-height: 55px; } }

@media (min-width: 576px) {
  .blog-post h3 {
    color: #cc7722;
    font-size: 25px;
    width: 100%;
    line-height: 55px; } }

@media (min-width: 768px) {
  .blog-post span {
    font-size: 12px; }
  .blog-post h3 {
    color: #cc7722;
    font-size: 25px;
    width: 100%;
    line-height: 30px;
    margin-top: 5px; } }

@media (min-width: 992px) {
  .blog-post span {
    font-size: 16px; }
  .blog-post h3 {
    color: #cc7722;
    font-size: 25px;
    width: 100%;
    line-height: 55px; } }

@media (min-width: 1200px) {
  .blog-post h3 {
    color: #cc7722;
    font-size: 25px;
    width: 100%;
    line-height: 55px; } }

.footer {
  background: #122e44;
  color: white;
  font-family: 'Montserrat', sans-serif; }
  .footer p {
    font-weight: 300; }
  .footer h5 {
    font-size: 20px; }
  .footer span {
    font-weight: 300;
    font-size: 15px; }

.copyright {
  font-size: 15px;
  font-weight: 300;
  opacity: 0.5; }
