.phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px; }
  .phone i {
    margin-right: 15px;
    color: #cc7722; }

.top-nav {
  margin-top: 12px; }

.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.topbar-phone {
  display: flex;
  align-items: center; }
  .topbar-phone i {
    margin-right: 15px; }

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: black !important; }
  .nav-link .active {
    color: #cc7722 !important; }

.header {
  background: url("../img/header.png");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover; }

.header-text {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 100px; }
  .header-text h3 {
    font-size: 50px;
    font-weight: 300; }
  .header-text h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px; }

.learn-more-btn {
  width: 15%;
  background: #cc7722;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 0px 10px 0px; }

@media (min-width: 576px) {
  .tour-btn {
    display: none; }
  .dropdown {
    display: block; }
  .topbar-phone {
    display: none; } }

@media (min-width: 768px) {
  .tour-btn {
    display: none; }
  .dropdown {
    display: block; }
  .topbar-phone {
    display: none; } }

@media (min-width: 992px) {
  .tour-btn {
    display: block; }
  .dropdown {
    display: none; }
  .topbar-phone {
    display: inline-flex; } }

@media (min-width: 1200px) {
  .tour-btn {
    display: block; }
  .dropdown {
    display: none; } }

.outline-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  background: white;
  border: 2px solid grey;
  padding: 10px; }

.fas {
  color: #cc7722; }

.card-text-threecols span {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  font-weight: 600; }

.card-text-threecols p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

@media (min-width: 576px) {
  .tour-btn {
    display: none; } }

@media (min-width: 768px) {
  .tour-btn {
    display: none; } }

@media (min-width: 992px) {
  .tour-btn {
    display: block; } }

@media (min-width: 1200px) {
  .tour-btn {
    display: block; } }
