.phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  i {
    margin-right: 15px;
    color: #cc7722;
  }
}
.top-nav {
  margin-top: 12px;
}

// Top Navbar
.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topbar-phone {
  display: flex;
  align-items: center;
  i {
    margin-right: 15px;
  }
}

// Main Nav
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: black !important;

  .active {
    color: #cc7722 !important;
  }
}

.header {
  background: url('../img/header.png');
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  display: flex;
  flex-direction: column;
  color: white;

  padding: 100px;

  h3 {
    font-size: 50px;
    font-weight: 300;
  }
  h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
.learn-more-btn {
  width: 15%;
  background: #cc7722;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .tour-btn {
    display: none;
  }
  .dropdown {
    display: block;
  }
  .topbar-phone {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .tour-btn {
    display: none;
  }
  .dropdown {
    display: block;
  }
  .topbar-phone {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .tour-btn {
    display: block;
  }
  .dropdown {
    display: none;
  }
  .topbar-phone {
    display: inline-flex;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .tour-btn {
    display: block;
  }
  .dropdown {
    display: none;
  }
}
