@import 'home';
@import 'header';
@import 'footer';

.outline-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  background: white;
  border: 2px solid grey;
  padding: 10px;
}
