@import 'home';
@import 'header';
@import 'footer';

.outline-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  background: white;
  border: 2px solid grey;
  padding: 10px;
}

// Three column layout
.fas {
  color: #cc7722;
}
.card-text-threecols {
  span {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    font-weight: 600;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .tour-btn {
    display: none;
  }
  .testimonial-card {
    margin-top: 30px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .tour-btn {
    display: none;
  }
  .testimonial-card {
    margin-top: 30px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .tour-btn {
    display: block;
  }
  .testimonial-card {
    margin-top: 5px !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .tour-btn {
    display: block;
  }
  .testimonial-card {
    margin-top: 5px !important;
  }
}

// Our tours
.tours {
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 45px;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    margin-bottom: 50px;
  }
  img {
    margin-bottom: 10px;
  }
  .price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #cc7722;
    font-size: 22px;
  }
  .city {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
  }
}

.tour-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
  background: white;
  border: 2px solid grey;
  width: 18%;
  padding-top: 14px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.tour-breaker {
  background: url('../img/banner-water.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    padding: 0;
    margin: 0;
  }
  span {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding: 0;
    margin: 0;
  }
  button {
    padding: 0;
    margin: 0;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
}

.tour-breaker {
  margin-top: 30px !important;
}

.booknow-btn {
  margin-left: 20px !important;
  padding: 10px 30px 10px 30px !important;
}

// Testimonials
.testimonial-card {
  h3 {
    margin-top: 10px !important;
  }
  p {
    margin-top: 5px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
}

.sale-banner {
  background: url('../img/person-holding-flashlight-in-road-2011367.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  color: white;
  .booknow-btn {
    margin-left: 20px !important;
    padding: 10px 30px 10px 30px !important;
    background: #cc7722;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  p {
    font-weight: 200;
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  h4 {
    font-weight: 500;
    font-size: 45px;
  }
  span {
    font-weight: 200;
    font-size: 25px;
  }
}

.blog-title {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 25px;
}

.blog-post {
  font-family: 'Montserrat', sans-serif;
  h3 {
    color: #cc7722;
    font-size: 25px;
    width: 100%;
    line-height: 55px;
  }
  .blog-info-category {
    color: #cc7722;
  }
  p {
    font-size: 14px;
    margin-top: 12px;
  }
}

// Extra small
@media (min-width: 0px) {
  .blog-post {
    h3 {
      color: #cc7722;
      font-size: 25px;
      width: 100%;
      line-height: 55px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .blog-post {
    h3 {
      color: #cc7722;
      font-size: 25px;
      width: 100%;
      line-height: 55px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .blog-post {
    h3 {
      color: #cc7722;
      font-size: 25px;
      width: 100%;
      line-height: 30px;
      margin-top: 15px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .blog-post {
    h3 {
      color: #cc7722;
      font-size: 25px;
      width: 100%;
      line-height: 55px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .blog-post {
    h3 {
      color: #cc7722;
      font-size: 25px;
      width: 100%;
      line-height: 55px;
    }
  }
}
